<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    .player {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
    .player-controls {
        background-color: #fff;
        border-radius: 15px;
        width: 425px;
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        box-shadow: 0px 33px 90px 11px rgba(147,84,103,.6);
    }
    .song-panel {
        background-color: #FCF8FA;
        border-radius: 15px 15px 0 0;
        display: flex;
        height: 75px;
        justify-content: flex-end;
        padding: 0 12px 12px 12px;
        transform: translate3d(0, 100%, 0);
        transition: all 1s ease;
        width: 395px;
        z-index: 0;
        box-shadow: 0px 33px 90px 11px rgba(147,84,103,.6);
        .song-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 230px;
            .song-info__title {
                color: #444b59;
                font-size: 0.8rem;
                font-weight: bold;
                margin-bottom: 5px;
            }
            .song-info__artist {
                color: #a5a7af;
                font-size: 0.7rem;
                margin-bottom: 10px;
            }
            .progress {
                background: #fff;
                border-radius: 3px;
                cursor: ew-resize;
                display: flex;
                flex: 10;
                flex-basis: 100%;
                max-height: 5px;
                position: relative;
                transition: height 0.3s;
                width: 100%;
                .progress__filled {
                    background: #fc8da8;
                    flex: 0;
                    flex-basis: 0%;
                    width: 50%;
                }
            }
        }
        &.playing {
            transform: translate3d(0, 0, 0);
            transition: all 1s ease;
        }
    }
    button {
        height: 80px;
        width: 80px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: #DFDBE0;
        margin: 0 5px;
        border-radius: 15px;
        position: relative;
    }
    button:hover, button.playing {
        background-color: #E0DEE1;
        color: #fff;
    }
    button.play span.pause {
        background-color: white;
        position: absolute;
        top: 23px;
        height: 34px;
        width: 10px;
        display: block;
        border-radius: 3px;
        opacity: 0;
        transition: all .5s ease;
    }
    button.play span.pause.left {
        left: 0;
    }
    button.play.playing span.pause.left {
        left: 25px;
        opacity: 1;
        transition: left .5s ease, opacity .8s ease;
    }
    button.play span.pause.right {
        right: 0;
    }
    button.play.playing span.pause.right {
        right: 25px;
        opacity: 1;
        transition: right .5s ease, opacity .8s ease;
    }
    button.play i {
        opacity: 1;
        transition: opacity .5s ease;
    }
    button.play.playing i {
        opacity: 0;
        transition: all .5s ease;
    }
    .player-controls {
        position: relative;
        .spinner {
            height: 130px;
            width: 130px;
            position: absolute;
            top: -40px;
            left: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.spin {
                animation: spin 5s linear infinite;
            }

            .spinner__disc {
                height: 110px;
                width: 110px;
                border-radius: 50%;
                transition: all 1s ease;
                background-image: url(http://www.placecage.com/c/127/127);
                background-size: cover;
                background-position: center;
                display: flex;
                align-items: center;
                justify-content: center;
                &.scale {
                    transform: scale(1.17);
                    transition: all 1s ease;

                    .center__disc {
                    color: #e4d6e9;
                    transition: all 1s ease;
                    }
                }

                .center__disc {
                    background-color: white;
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                }
            }
        }
    }

    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
</style>
<div class="player">
    <audio class="player__audio viewer">
        <source src="https://audio-ssl.itunes.apple.com/itunes-assets/AudioPreview211/v4/a9/8a/b4/a98ab479-5782-fe7b-57dc-a04be6c38462/mzaf_11605981746719020256.plus.aac.p.m4a" type="audio/mpeg" data-trackid="1">
        Your browser does not support the audio element.
    </audio>
    <div class="song-panel">
        <div class="song-info">
            <div class="song-info__title">Despacito</div>
            <div class="song-info__artist">Justin Bieber</div>
            <div class="progress">
                <div class="progress__filled"></div>
            </div>
        </div>
    </div>
    <div class="player-controls">
        <div class="spinner">
            <div class="spinner__disc" style="background-image: url(https://www.bensound.com/bensound-img/ukulele.jpg)">
                <div class="center__disc"></div>
            </div>
        </div>
        <button class="backward"><i class="fas fa-backward fa-2x"></i></button>
        <button class="play">
            <i class="fas fa-play fa-3x"></i>
            <span class="pause left"></span>
            <span class="pause right"></span>
        </button>
        <button class="forward"><i class="fas fa-forward fa-2x"></i></button>
    </div>
</div>
<script>
    /* TODO:
  - ADD timer (currentTime and duration)
*/

    const tracks = [
        {
            id: '1',
            title: 'Despacito',
            artist: 'Justin Bieber',
            src: 'https://audio-ssl.itunes.apple.com/itunes-assets/AudioPreview211/v4/a9/8a/b4/a98ab479-5782-fe7b-57dc-a04be6c38462/mzaf_11605981746719020256.plus.aac.p.m4a',
            cover: 'https://www.bensound.com/bensound-img/ukulele.jpg'
        },
    ];

    const player = document.querySelector('.player');
    const audio = player.querySelector('.player__audio');
    const audioSource = audio.querySelector('source');
    const songPanel = player.querySelector('.song-panel');
    const songTitle = player.querySelector('.song-info__title');
    const songArtist = player.querySelector('.song-info__artist');
    const backButton = player.querySelector('.backward');
    const playButton = player.querySelector('.play');
    const forwardButton = player.querySelector('.forward');
    const spinner = player.querySelector('.spinner');
    const spinnerDisc = player.querySelector('.spinner__disc');
    const progress = player.querySelector('.progress');
    const progressBar = player.querySelector('.progress__filled');

    let playing = false;
    let trackSwitch = false;

    const togglePlay = () => {
        // Play / pause the audio
        const method = audio.paused ? 'play' : 'pause';
        playing = audio.paused ? true : false;
        audio[method]();
    };

    const toggleSongPanel = () => {
        if (!trackSwitch) {
            // Scale the disc
            spinnerDisc.classList.toggle('scale');

            // Show / hide song panel
            songPanel.classList.toggle('playing');

            // Change button icon
            playButton.classList.toggle('playing');
        }
    };

    const startSpin = () => {
        // Start spinning the disc
        spinner.classList.add('spin');
    };

    const stopSpin = () => {
        // Stop spinning the disc
        const spin = document.querySelector('.spin');
        spin.addEventListener("animationiteration", () => {
            if (!playing) {
            spin.style.animation = 'none';
            spinner.classList.remove('spin');
            spin.style.animation = '';
            }
        }, {
            once: true
        });
    };

    const handleProgress = () => {
        // Update the progress bar.
        const percent = (audio.currentTime / audio.duration) * 100;
        progressBar.style.flexBasis = `${percent}%`;
        
        // Skip to next track if at the end of the song.
        if (percent === 100) {
            trackSwitch = true;
            handleForwardButton();
        }
    };

    const handleBackButton = () => {
        if (audio.currentTime <= 3) {
            const currentTrackId = parseInt(audioSource.dataset.trackid);
            const previousTrackId = currentTrackId === 1 ? '10' : (currentTrackId - 1).toString();
            const previousTrack = tracks.find(o => o.id === previousTrackId);
            changeTrack(previousTrack);
        } else {
            audio.currentTime = 0;
        }
    };

    const handleForwardButton = () => {
        const currentTrackId = parseInt(audioSource.dataset.trackid);
        const nextTrackId = currentTrackId === 10 ? '1' : (currentTrackId + 1).toString();
        const nextTrack = tracks.find(o => o.id === nextTrackId);
        changeTrack(nextTrack);
    };

    const changeTrack = (track) => {
        if (playing) trackSwitch = true;
        audioSource.setAttribute('src', track.src);
        audioSource.dataset.trackid = track.id;
        songTitle.innerHTML = track.title;
        songArtist.innerHTML = track.artist;
        spinnerDisc.style.backgroundImage = `url(${track.cover})`;
        audio.load();

        if (playing) {
                audio.addEventListener('canplay', () => {
                audio.play();
            }, {
                once: true
            });
                audio.addEventListener('play', () => {
                trackSwitch = false;
            }, {
                once: true
            });
        }
    };

    function scrub(e) {
        const scrubTime = (e.offsetX / progress.offsetWidth) * audio.duration;
        audio.currentTime = scrubTime;
    }

    audio.addEventListener('play', startSpin);
    audio.addEventListener('play', toggleSongPanel);
    audio.addEventListener('pause', stopSpin)
    audio.addEventListener('pause', toggleSongPanel);
    audio.addEventListener('timeupdate', handleProgress);

    backButton.addEventListener('click', handleBackButton);
    playButton.addEventListener('click', togglePlay);
    forwardButton.addEventListener('click', handleForwardButton);

    let mousedown = false;
    progress.addEventListener('click', scrub);
    progress.addEventListener('mousemove', (e) => mousedown && scrub(e));
    progress.addEventListener('mousedown', () => mousedown = true);
    progress.addEventListener('mouseup', () => mousedown = false);
</script>